h1{
    text-shadow: 3px 3px 5px red;
}

.branco{
    color: white;
    text-shadow: 2px 2px 2px black;
}

.multiplas{
    color: black;
    text-shadow: 0 0 3px red, 2px 2px 5px yellow;
}

.borda{
    width: 40%;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px red;
    margin-left: 10px;
}

.reduzido{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-bottom: 30px;
    padding-bottom: 30px;
}
.borda:hover .reduzido{
    white-space: normal;
 
}