
h1{
   text-align: center;
   border: 5px solid black;
   border-radius: 15px;
   color: white;
   background: black;


}

.container{
   
    overflow: auto;
}

.container img{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

ul{
  background: black;
  padding: 25px;
}

li {
    display: inline-block;
    position: relative;
    height: 10px;
    width: 150px;
    
}

li a{
    color: white;
    text-decoration: none;
    padding: 45px;
}

li a:hover{
background: white;
color: black;

}

p{
   font-size: 25px;
}